<nav id="nav-bar">
  <div>
    <img  id="logo" src="{{ url_for('static', filename='images/new-logo.png') }}"  alt="logo" class="logo">

  </div>

  <div class="hamburger" id="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="action-icons" id="nav-links">
    <ul>
        <li><a href="{{ url_for('users.index') }}"><img src="{{ url_for('static', filename='images/home.svg') }}" alt="home"></a></li>
        <li><a href=""><img src="{{ url_for('static', filename='images/search.svg') }}"  alt="search"></a></li>
        <li><a href=""><img src="{{ url_for('static', filename='images/heart.svg') }}"  alt="heart"></a></li>
        <li><a href=""><img src="{{ url_for('static', filename='images/cart.svg') }}"  alt="cart"></a></li>
        {% if user.is_authenticated %}
        <li><a href="{{ url_for('users.logout') }}">Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('users.login') }}">Log In</a></li>
        {% endif %}
    </ul>
  </div>   
</nav>